body{
	background-color:grey;
}




h1{ 
	background-color:black;
	color: White;
	font-family: monospace;
	font-size:45px;
	text-align:center;

}
h2 {
	background-color:white;
        color: Black;
        font-family: fantasy;
        font-size:150%;
        text-align:center;
}



nav ul{
	font-weight: bold;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
 
}

li {
  float: center;
}

li a {
font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #BABABA}


.center {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: 75% 75%;:
}





